# Misc
**/*.pdf
ignored/
pp.*
**/*.zip

# LaTeX
**/*.aux
**/*.lof
**/*.log
**/*.out
**/*.synctex.gz
**/*.toc
**/*.lol
**/_minted*
**/*.lot

# OpenOffice
**/.~lock*

# Haskell
**/.stack-work
**/dist

# C#
**/.vs
**/bin
**/obj
